img {
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 5px solid #FFFFFF;
  opacity: 1;
  transition: all ease-out 200ms;
  width: 400px;

  &.red-border {
    border-color: #FF0000;
  }

  &.green-border {
    border-color: #00FF00;
  }
}

img:hover {
  opacity: 0.8;
  border-color: #000000;
  &.red-border {
    border-color: #FF0000;
  }

  &.green-border {
    border-color: #00FF00;
  }
}



